# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.log

# Env
.env
venv/
env/
*.env
*.DS_Store

# Conda
*.conda
*.ipynb_checkpoints
*.egg-info/

# Django
db.sqlite3
media/

# VSCode
.vscode/

# System
*.swp
